// *************************************
//
//   Headlines
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

.headline-1, .headline-2,
%headline-1, %headline-2 { font-family: $tertiary-font-family;}
.headline-3, .headline-4,
%headline-3, %headline-4 { font-family: $secondary-font-family;}

.headline-1,
%headline-1 {
    font-size: torem(66px);
}
.headline-2,
%headline-2 {
    font-size: torem(50px);
}

.headline-3,
%headline-3 {
    font-size: torem(38px);
}
.headline-4,
%headline-4 {
    font-size: torem(30px);
}

.headline-5,
%headline-5 {
    font-size: torem(22px);
} 

.headline-6, %headline-6,
.paragraphs, %paragraphs {
    font-size: torem(16px);
    font-weight: 400;
    line-height: 1;

    small,
    .paragraphs-small {
        @extend %paragraphs-small;
    }
}

.paragraphs-small,
%paragraphs-small {
    font-size: torem(14px);

    small {
       font-size: torem(12px);
    }
}