// *************************************
//
//   IE 9.0
//
// *************************************

html[data-useragent*='MSIE 9.0']{

    // General icons
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        vertical-align: text-bottom !important;
    }

    select,
    .nav-select { background-image: none !important;}
    
    // Video Prelaunch
    .p-web video {
        min-width: 100%;
    }

	// Headroom module
    .headroom--pinned { @extend %show;}
    .headroom--unpinned { @extend %hidden;}
}

// Fullscreen fix
html[data-useragent*='MSIE'],
html[data-useragent*='rv:11.0']{
    &.is--fullscreen {
        width: 100%;
    }
    .accordion-tab { line-height: normal;}

    select,
    .nav-select { background-image: none !important;}
}