// *************************************
//
//   Plans / Account
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.m-plans {
	@extend %text-center;


	h3 {
            @extend %headline-4;

            font-weight: 700;
	}

	.m-plans-billing {
		@include v-align();
                @extend %paragraphs-small;

		border: 1px solid $color-secondary;
		color: $color-secondary;
		cursor: pointer;
		font-weight: 700;
		height: 50px;
		margin: 0 auto;
		
		.m-plans-billing-box {
		border-right: 1px solid $color-secondary;
		width: 200px;

		&:last-child {
               border-right: none; 
            }

            &:hover,
            &.is--active {
            	color: $color-white;
            	background-color: $color-secondary;
            }
		}

		&.op-4 {
			width: 800px !important;
			@include break-point($bp-tablet) {
				width: 100% !important;
			}
		}
		&.op-3 {
			width: 600px !important;
			@include break-point($bp-tablet) {
				width: 100% !important;
			}
		}
	}

	.m-plans-option {
		@extend %pull-left;

		border: 1px solid $color-secondary;
		padding: 0.75rem;
		width: 33%;

		header {
			font-weight: 700;

			.title {
                        	@extend %headline-4;
			     
			    margin-top: 10px;
			}

			.price-content {
				height: $height-large;
				margin: 0 auto;
				max-width: 150px;

				.price {
					@extend %pull-left;
                                        @extend %headline-2;

					margin-right: 10px;
				}

				.price-content-right {
					@extend %pull-left;

					font-weight: normal;
					line-height: 1.5;
					text-align: left;

					.small {
					    @extend %headline-5;
					}
					.smaller {
					    @extend %paragraphs-small;
					}
				}
				
			}

			.price {
			    @extend %headline-2;
			}
		}

		&.m-plans-option--left {
			border-right: none;
			@include break-point($bp-tablet) {
				border-right: 1px solid $color-secondary;
			}
		}

		&.m-plans-option--right {
			border-left: none;
			@include break-point($bp-tablet) {
				border-left: 1px solid $color-secondary;
			}
		}

		&.m-plans-option--middle {
			background-color: $color-quinary;
			margin-top: -($space-small);

			ul {
				margin-bottom: 30px;
			}

			@include break-point($bp-tablet) {
				margin-top: 0;
			}
		}

		.m-plans-description {
			border-bottom: 1px solid $color-quaternary;
			padding-bottom: $space-small;

			p {
				margin: 5px 0 12px 0;
			}

			[data-wii-btn~="large"] {
				@include break-point($bp-tablet) {
					padding-left: $space-large;
					padding-right: $space-large;
				}
			}
		}

		ul {
			margin-bottom: ($space-small/2);
			margin-top: 0;
			padding-left: 0;
			li {
				@include truncate(100%);
				border-bottom: 1px solid $color-quaternary;
				line-height: 59px;
				list-style: none;
			}
		}

		button {
			margin-top: ($space-small/2);
		}

		@include break-point($bp-tablet) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}