// *************************************
//
//   Social
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Base
// -------------------------------------

.m-social {
    @extend %text-center;

    &.m--inverse {
        .m-social-link {
            border: 1px solid $color-primary;
            color: $color-font-primary;

            &:hover {
                background-color: $color-primary; 
                color: $color-font-secondary;
            }
        }
    }

    .m-social-text{
        line-height: torem($space-large);       
    }
}

.m-social-link {
    @include border-radius(toem(60px)); 
    @include transition(background, $animation-time, ease);
    @extend %inline;
    
    background-color: transparent;
    border: 1px solid $color-secondary;
    color: $color-font-secondary;
    font-size: toem(20px); // review
    height: torem($space-large);
    line-height: torem($space-large);
    margin: 0 toem(10px);
    width: $space-large;

    &:hover {
        background-color: $color-secondary; 
        color: $color-font-primary;
    }

    @include break-point($bp-tablet) {
        margin: 0 torem(2px);
    }
}

.m-social--medium {
    .m-social-link {
        height: torem($space-medium);
        line-height: torem($space-medium);
        margin: 0 toem(5px);
        width: $space-medium;
    }
}

form {
    .m-social-link {
        line-height: normal;
    }
}