// body {
//     background-color: $color-primary;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// a {
//     color: $color-blue-light;
//     text-decoration: none;
// }

body {
    background-color: $color-primary;
    color: $color-font-secondary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}