// *************************************
//
//   Main
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

[role="main"]{
    @extend %full-width;

    height: auto;
    overflow-x: initial;
    padding-bottom: $space-large;
    padding-top: $height-header;
}