// *************************************
//
//   Account
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Base
// -------------------------------------

.p-account {

    [data-wii-nav~="tool"]{
        margin-bottom: $space-medium;
    }
    
    .m-account-card {
        height: 100%;
        max-width: 100%;
        padding-top: 1px;
    }
    
    // *************************************
    //
    //   Table
    //
    // *************************************

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $table-height-icon: 32px;

    // -------------------------------------
    //   Base
    // -------------------------------------


    .m-table {
        @extend %full-width;

        background-color: $color-primary;
        display: table;
        margin-bottom: $space-medium;
        position: relative;

        .m-widget {
            float: none;
            margin-bottom: 0;
        }

        .m-widget-content {
            height: auto;
            padding-bottom: 0;
            padding-top: 0;
        }

        .input-content {
            padding-bottom: 0;
        }

        @include break-point($bp-tablet) {
            padding-bottom: $space-small;
        }
    }

    .m-table-head {
        @extend %paragraphs-small;

        display: table-header-group;
        font-weight: 700;
        line-height: $height-large;

        .m-table-row {
            height: $height-medium;
        }
    }

    .m-table-row {
        display: table-row;
        height: 50px;

        &:before {
            // @extend %full-width;

            border-top: 0;
            // content: "";
            // padding: 0 $space-small;
            // position: absolute;
            // right: 0;
        }

        .m-table-cell:first-of-type {
            padding-left: 0;
        }

        .m-table-cell:last-of-type {
            padding-left: 10px;
            padding-right: 0;
        }

        @include break-point($bp-tablet) {
            border-top: none;
            display: block;
            height: auto;
            padding: $space-small 0;
            position: relative;

            // &:before {
            //     border-bottom: 0;
            //     content: "";
            // }
        }
    }

    .m-table-cell {
        @extend %paragraphs-small;

        border-bottom: 1px solid $color-quaternary;
        border-top: 1px solid transparent;
        display: table-cell;
        line-height: 1;
        padding-right: 10px;
        position: relative;
        vertical-align: middle;

        > button {
            margin-left: 5px;
        }

        .m-table-icon {
            color: $color-font-secondary;
            font-size: torem($table-height-icon);

            > span {
                line-height: 48px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        @include break-point($bp-tablet) {
            display: block;
            padding: 5px 0;

            &.m-table-cell-icon {
                border-bottom: none;
                padding: 0 0;
                position: relative;
                left: auto;
                top: 10px
            }
        }
    }

    .m-table-cell-input {
        width: 210px;
    }
}