/* ============================================================================================ */

/* =====    PROJECT WIIBII

/* ============================================================================================ */

/*

	Project:    Wiibii Desktop
	Company:    Wiibii
	Version:    1.0
	Author:     UI Team

*/

// SETTINGS
@import "settings";

// HELPERS
@import "helpers/extends";
@import "helpers/functions";
@import "helpers/mixins";

// BASE
@import "base/headlines";
@import "base/print";
@import "base/grid";
@import "base/core";
@import "base/icons";
@import "base/form";

// LAYOUT
@import "layout/layout";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

// MODULE
@import "module/animation";
@import "module/logo";
@import "module/nav-main";
@import "module/notifications";
@import "module/autosave";
@import "module/alert-box";
@import "module/buttons";
@import "module/editor-img";
@import "module/nav-lateral";
@import "module/counter";
@import "module/benefits";
@import "module/social";
@import "module/tooltips";
@import "module/accord";
@import "module/tab-navigation";
@import "module/tabs";
@import "module/name-avatar";
@import "module/signin-user";
@import "module/slideshow";
@import "module/cards";
@import "module/circular-image";
@import "module/aside-nav";
@import "module/cover-photo";
@import "module/table";
@import "module/plans";
@import "module/drag-and-drop";

// LIBS
@import "libs/html-editor";
@import "libs/kinetic/kinetic";
@import "libs/ng-cropper/cropper";
@import "libs/progress-bar";
@import "libs/photo-wall";
@import "libs/autocomplete";

// VIEW
@import "view/web/prelaunch";
@import "view/web/about";
@import "view/web/faq";
@import "view/account/account";
@import "view/administration/administration";
@import "view/administration/manager";
@import "view/administration/public";
@import "view/administration/publish";
@import "view/administration/dashboard";
@import "view/settings/settings";
@import "view/settings/look-and-feel";
@import "view/errors";

// VIEW UI
@import "view/test/user-menu";

// STATE
@import "state/ie"; // IE9
@import "state/is-mobile";

// THEME
@import "theme/theme-default";