// *************************************
//
//   Test/ account
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Base
// -------------------------------------

.p-test-account {

    [data-wii-nav~="tool"]{
        margin-bottom: $space-medium;
    }
    
    .m-account-card {
        height: 100%;
        max-width: 100%;
        padding-top: 1px;
    }
    
    // MODULES
    @import  "module/table";
}